
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */